main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

section {
    border: var(--section-border-color) groove;
    border-style: groove;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Forecast */
#forecast {
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;
}

.forecast-card {
    flex: 1 1 0;
    border-radius: 3rem;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.forecast-day {
    width: 100%;
    padding: 1rem;
    background-color: white;
    font-size: 3rem;
}

.weather-status {
    background: linear-gradient(#143998, #468fe7);
}

.forecast-day-temp {
    background-color: white;
    width: 100%;
    padding: 1rem;
    font-weight: 100;
}

.weather-status {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.weather-status-text {
    color: white;
    font-weight: 300;
}

/* Thermometer */
#thermometer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fluid {
    flex-grow: 3;
    aspect-ratio: 1/8;
    border-radius: 2rem 2rem 0 0;
    border: 0.5rem solid #4a1c03;
    border-bottom: none;
    box-shadow: inset 0 0 0 0.4rem #fff;
    position: relative;
}

#bulb {
    flex-grow: 1;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
    border: 0.5rem solid #4a1c03;
    box-shadow: inset 0 0 0 0.4rem #fff;
    translate: 0 -6%;
}

#temps {
    height: 100%;
    position: absolute;
    left: calc(100% + 1rem);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    translate: 0 0.4rem;
}

/* Clock */
#clock {
    width: 80%;
    aspect-ratio: 1/1;
}

#short-hand, #long-hand {
    height: 15%;
    position: absolute;
    translate: 0 -50%;
    transform-origin: bottom;
    width: auto;
}

/* Light */
#light-bulb {
    width: 50%;
    cursor: pointer;
}

#timer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
