
html {
  font-size: 62.5%; /* 1rem = 10px */
}



.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 2rem;  
  font-size: 2rem;
}


.card {
  width: 40rem;
  height: 40rem;
  border-radius: 5rem;
  background-color: rgb(43, 180, 180);
}

.card--stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timerText {
  font-size: 200%;
}

.button {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}
